.body {
  margin: 0;
  width: 100vw;
  height: 150vh;
  background-image: url("momandbaby-dark.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.header {
  width: 100%;
  margin: 0 auto;
  height: 100px;
}
.text {
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
}
.text--bold {
  font-weight: 700;
}
.text--medium {
  font-weight: 500;
}
.text--light {
  font-weight: 300;
  line-height: 40px;
}
.text--size-large {
  font-size: 30px;
  line-height: 50px;
}
.text--size-medium {
  font-size: 20px;
}
.text--color-white {
  color: #ffffff;
}
.logo {
  height: inherit;
  background-image: url("solospring-grey.svg");
  background-repeat: no-repeat;
  background-size: 250px 80px;
}
.section {
  padding-left: 20px;
}
.section--major {
  max-width: 500px;
}
.section--minor {
  max-width: 500px;
}
.form {
  padding-left: 20px;
  margin-top: 40px;
  padding-bottom: 50px;
}
/*MailChimp*/
/*MailChimp*/
#mc_embed_signup {
  font-family: "Quicksand", sans-serif;
  font-size: 14px;
}
  #mc_embed_signup form {
    padding-left: 20px;
}
  .mc-field-group {
    padding-bottom: 10px;
}
  #mc_embed_signup .mc-field-group input {
    max-width: 300px;
    width: 80vw;
    height: 30px;
    background-color: inherit;
    border: 2px solid #ffffff;
    border-radius: 2px;
    font-family: "Quicksand", sans-serif;
    font-size: 14px;
    color: #ffffff;
    padding-left: 5px;
  }
  #mc_embed_signup .button {
    background-color: #A8D0D0;
    font-family: "Quicksand", sans-serif;
    font-size: 14px;
    color: #ffffff;
    width: 130px;
    height: 30px;
    border: none;
    border-radius: 3px;
  }
  input[type=submit] {
    -webkit-appearance: none;
  }
